.big-shrift {
  font-size: 60px;
  font-weight: 700;
  line-height: 72.61px;
}

.about-wrapper {
  width: 800px;
  height: 300px;
}

.about-h1 {
  margin: 0;
  font-size: 64px;
  font-weight: 900;
  line-height: 77.45px;
}

.about-p {
  margin: 0;
  font-size: 24px;
  font-weight: 400;
  line-height: 29.05px;
}